.header {
  background-color: var(--dark);
  padding: 20px 30px;
  text-align: left;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header h1 {
  color: var(--yellow);
}
